
.h1pro{
  font-weight: 600;
  color: black;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

}

 .image-gallery-container {
  overflow:hidden;
 padding: 35px 0;
   white-space: nowrap;
   position: relative;
}
.image-gallery {
  margin: 0;
  display:flex;
  height: 480px;
  animation: 20s slide infinite linear;
}

.image-gallery-container::before, 
.image-gallery-container::after{
  position: absolute;
  width: 50px;
  top: 0;
  height: 480px;
  content: "";
  z-index: 2; 
}

.image-gallery-container:hover .image-gallery{
  animation-play-state: paused;
}

.image-gallery div{
  margin-left: 35px;
  padding: 10px;
  position: relative;
  box-shadow: rgba(161, 155, 155, 0.35) 0px 5px 9px;
  
}
figure {
  width: 330px;
  overflow: hidden;
  position: relative;
}

.image-item img {
margin: 0 ;
  padding: 10px;
background-color: #06060f;
   border-radius: 0.5rem;
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}
.image-item:hover img{
  -webkit-transform: scale(1.1);
        transform: scale(1.1);
}
 .caption {
text-align: center;
font-size: 23px;
font-weight: 700;
width: 320px;
padding: 12px;

}
.skill-btn{
  width: 40%;
  border-radius: 1rem;
  border: none;
  background-color: #a1a4a5;
 
  align-items: center;
  color: #000000;
  font-size: 1rem;
  padding: .5rem;
justify-content: center;
  
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}