/* skeleton.css */
.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    animation: shimmer 1.5s infinite linear;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInDown {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInTopLeft {
    0% {
      transform: translate(-100px, -100px); /* Start outside the top-left */
      opacity: 0;
    }
    100% {
      transform: translate(0, 0); /* End in the original position */
      opacity: 1;
    }
  }
  
  @keyframes slideInTopRight {
    0% {
      transform: translate(100px, -100px); /* Start outside the top-right */
      opacity: 0;
    }
    100% {
      transform: translate(0, 0); /* End in the original position */
      opacity: 1;
    }
  }
  
  @keyframes slideInBottomLeft {
    0% {
      transform: translate(-100px, 100px); /* Start outside the bottom-left */
      opacity: 0;
    }
    100% {
      transform: translate(0, 0); /* End in the original position */
      opacity: 1;
    }
  }
  
  @keyframes slideInBottomRight {
    0% {
      transform: translate(100px, 100px); /* Start outside the bottom-right */
      opacity: 0;
    }
    100% {
      transform: translate(0, 0); /* End in the original position */
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animationn1 {

    animation: fadeInUp 1s ease-out;
  }
  .animationn1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn1.animate {
    opacity: 1;
    transform: translateY(0);
  }
  

  .animationn2 {
    animation: slideInBottomRight 1s ease-out;
  }
  .animationn2 {
    opacity: 0;
    transform: translate(100px, 100px); 
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn2.animate {
    opacity: 1;
    transform: translate(0,0);
  }


  .animationn3 {
    animation: slideInBottomLeft 1s ease-out;
  }
  .animationn3 {
    opacity: 0;  
    transform: translate(-100px, 100px); /* Start outside the bottom-left */
  } 
  .animationn3.animate {
    opacity: 1;
    transform: translate(0,0);
  }


  .animationn4 {
    animation: slideInTopRight 1s ease-out;
  }
  .animationn4 {
    opacity: 0;
  transform: translate(100px, -100px);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn4.animate {
    opacity: 1;
    transform: translate(0,0);
  }
  .animationn5 {
    animation: slideInTopLeft 1s ease-out;
  }
  .animationn5 {
    opacity: 0;
    transform: translate(-100px, -100px);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn5.animate {
    opacity: 1;
    transform: translate(0,0);
  }

  .animationn6 {
    animation: slideInUp 1s ease-out;
  }
  .animationn6 {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn6.animate {
    opacity: 1;
    transform: translateY(0);
  }

  .animationn7 {
    animation: slideInDown 1s ease-out;
  }
  .animationn7 {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn7.animate {
    opacity: 1;
    transform: translateY(0);
  }


  .animationn8 {
    animation: slideInLeft 1s ease-out;
  }
  .animationn8 {
    opacity: 0;
     transform: translateX(-100%);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn8.animate {
    opacity: 1;
    transform: translateX(0);
  }
  .animationn9 {
    animation: slideInRight 1s ease-out;
  }
  .animationn9 {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .animationn9.animate {
    opacity: 1;
    transform: translateX(0);
  }