@tailwind base;
@tailwind components;
@tailwind utilities;


              /* header */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(to bottom right,#06060f, #080811, #080811,#29242b,#9f5272);

    color: white;

}

  .headerbody{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    overflow: hidden;
  }



  nav{
    display: flex;
   justify-content:space-evenly;
   text-align: center;
   font-size: 22px;
  font-weight: 600;
   background-color:  #06060f;
   /* border-bottom: 2px solid #898989; */
  
   color: white;
   padding: 20px;
   z-index: 2;
}
nav:hover{
  transition: .5s;
  box-shadow: 2px 5px 5px 0 rgba(100, 100, 100, 0.5); 
}

 nav a{
  text-decoration: none;
  color: #898989;
  font-size: 20px;
  font-weight: 600;
  padding: 0,10px;
  margin: 0 30px;
  position: relative;
 }             

 nav a:hover{
  color: #fff;
 }
 nav a::before{
  content: ' ';
  position: absolute;
  bottom:  -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #ee0653;
  transition: all .3s;
 }

 nav a:hover::before{
  width: 100%;
 }
 
 .wrapper{
  text-align: left;
  margin-top: 90px; 
 display: flex;
 justify-content: space-evenly;
  margin-left: -200px;
  margin-right: -250px;
 }
 .wrapper .static-txt{
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin-left: -70px;
 }
 .wrapper .dynamic-txt{
  margin-left: 15px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  margin-left: -130px;
 }
 .dynamic-txt li{
  color: #ee0653;
  list-style: none;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: 0;
  animation: slide 5s steps(2) infinite;

}
@keyframes slide {
 100%{
  top: -120px;
 }
}
 .dynamic-txt li span{
  position: relative;
 }
 .dynamic-txt li span::after{
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #06060f;
  border-left: 2px solid #ee0653;
  animation: typing 2.5s steps(13) infinite;

 }
 @keyframes typing {
  100%{
    left: 100%;
    margin:0 -35px 0 35px ;
  }
 }