@tailwind base;
@tailwind components;
@tailwind utilities;


              /* header */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
.photo-img{
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
  box-shadow: rgba(146, 139, 139, 0.5) 0px 7px 29px 0px;
}

body{
  background: #06060f;
    color: white;
}
  .headerbody{
    height: 100px;
  display: flex;
    justify-content:space-evenly;
    flex-direction: row;
  }

  nav{
    width: 1500px;
    display: flex;
   justify-content:center;
   text-align: center;
   font-size: 22px;
  font-weight: 600;
   background-color:  #06060f;
   color: white;
   padding: 17px;
   z-index: 2;
}
nav:hover{
  transition: .5s;
  box-shadow: 2px 5px 5px 0 rgba(100, 100, 100, 0.5); 
}
.custom-ic{
  background:#06060f;
  padding:15px;
  border-radius:100%;
  border:3px solid #ccc;
  color:#fff;
	box-shadow: 0 1px 10px rgba(245, 243, 243, 0.46);
  width:55px;
  height:55px;
  font-size: 22px;
margin-left: -20px;
margin-bottom: 20px;
:hover{
  background: #fff;
  color: #06060f;  
}
}

.custom-i{
  background:rgba(0,0,0,0.4);
  padding:15px;
  border-radius:100%;
  border:3px solid #ccc;
  color:#fff;
	box-shadow: 0 1px 10px rgba(245, 243, 243, 0.46);
  width:51px;
  height:50px;
  font-size: 20px;
margin-top: 10px;
&:hover{
  background: #fff;
  color: #06060f;
}
}

 nav a{
  text-decoration: none;
  color: #898989;
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
  margin: 0 30px;
  position: relative;
 }             

 nav a:hover{
  color: #fff;
 }
 nav a::before{
  content: ' ';
  position: absolute;
  bottom:  -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ee0653;
  transition: all .3s;
 }

 nav a:hover::before{
  width: 100%;
 }
 
 .wrapper{
  text-align: left;
  margin-top: 100px; 
 display: flex;
 justify-content: space-evenly;
 }
 .wrapper .static-txt{
  color: #fff;
  font-size: 45px;
  margin-left: -10px;
  font-weight: 700;
 }
 .wrapper .dynamic-txt{
  /* margin-left: 10px; */
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  margin-left: -190px;
 }
 .dynamic-txt li{
  color: #f54982;
  list-style: none;
  font-size: 55px;
  font-weight: 550;
  position: relative;
  top: 0;
  margin-left: 6px;
  animation: slide 5s steps(2) infinite;
}
@keyframes slide {
 100%{
  top: -120px;
 }
}
 .dynamic-txt li span{
  position: relative;
 }
 .dynamic-txt li span::after{
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #06060f;
  border-left: 2px solid #ee0653;
  animation: typing 2.5s steps(13) infinite;

 }
 @keyframes typing {
  100%{
    left: 100%;
    margin:0 -35px 0 35px ;
  }
 }
 .icon-div {
  width: 90px;
  color: #eee;
  text-align: center;
  cursor: pointer;
}
.icon-div i {
  background:#06060f;
  padding:15px;
  border-radius:100%;
	box-shadow: 0 1px 1px rgba(245, 243, 243, 0.46);
  color:#fff;
  width:56px;
  height:55px;
  margin-left: 20px;
  position: relative;
  top: 25%;
  font-size: 1.5em;
}
.icon-div:hover i{
  transform: scale(1.1);
  transition: 0.5s;
	box-shadow: 0 5px 20px  rgba(245, 243, 243, 0.46);

}
.icon-div span {
   margin-left: 25px;
  opacity: 0;
  position: relative;
  /* margin-top: 9px; */
  top: 30%;
}
.icon-div:hover span {
  transition: 0.5s all;
  opacity: 1;
}
/* From Uiverse.io by alexruix */ 
.card {
  text-align: center;
  margin-left: 25px;
  width: 305px;
  height: 340px;
  border-radius: 20px;
  background: #06060f;
  position: relative;
  padding: 1.2rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  &:hover {
    border-color: #06060f;
    box-shadow: 0 4px 18px 0 rgba(238, 236, 236, 0.25);
   }
 }
 
 .card-details {
  color: #fff;
  height: 100%;
  gap: .5em;
  background-color: #06060f;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #9ba0a3;
  color: #06060f;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
&:hover{
  background-color: #caafb8;
 }  
 }
 
 .custom-icon {
  background:#fff;
  background:#06060f;
  padding:15px;
  border-radius:100%;
  border:3px solid #ccc;
  color:#fff;
	box-shadow: 0 1px 10px rgba(245, 243, 243, 0.46);
  margin-left: 95px;
  width:70px;
  height:70px;
}
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 .card:hover .custom-icon{
  background-color:#fff;
  color: #06060f;
 }

 /* skiis percentage */

/* 
.single-chart {
  margin-top: 40px;
  margin: 40px;
  width: 33%;
  justify-content: space-around ;

}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 95%;
  justify-content: space-evenly;
  max-height: 200px;
}

.circle-bg {
  fill: none;
  stroke: #06060f;

  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ee0653 ;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
} */

.skill{
  width: 160px;
  height: 160px;
  margin: 40px;
  position: relative;
}

.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px -1px rgba(107, 105, 105, 0.46), -3px -3px 3px -1px rgba(107, 105, 105, 0.46);
  padding: 20px;
}

.inner{
  height: 120px;
  width: 120px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
box-shadow: inset 3px 3px 3px -1px rgba(107, 105, 105, 0.46), inset -3px -3px 3px -1px rgba(107, 105, 105, 0.46), -0.5px 0.5px 0px rgba(107, 105, 105, 0.46) ,
0.5px 0.5px 0px rgba(107, 105, 105, 0.46), 
0px 12px 10px -10px rgba(107, 105, 105, 0.46);
}

#number1, #number2, #number3, #number4{
  font-weight: 600;
  font-size: 20px;
  color: #e91e63;
}
.circle1{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim1 2s linear forwards;
}
.circle2{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim2 2s linear forwards;
}
.circle3{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim3 2s linear forwards;
}
.circle4{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim4 2s linear forwards;
}
svg{
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim1 {
  100%{
    stroke-dashoffset: 95;
  }
}
@keyframes anim2 {
  100%{
    stroke-dashoffset: 118;
  }
}
@keyframes anim3 {
  100%{
    stroke-dashoffset: 142;
  }
}
@keyframes anim4 {
  100%{
    stroke-dashoffset: 236;
  }
}


                 /* Customize scrollbar */
                 
::-webkit-scrollbar {
  width: 8px;
 
  background-color: #f1f1f1; /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient( rgba(241, 0, 121, 0.863), #fff,#4d4b4b);/* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for the color */
}

/* Scrollbar animation */
@keyframes scrollbarFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar-thumb {
  animation: scrollbarFade 1.5s ease-in-out;
}

body {
  scrollbar-color:rgba(233, 11, 122, 0.863) #fff; /* For Firefox */
  scrollbar-width: thin; /* For Firefox */
}

/* For smoother scrolling on the page */
html {
  scroll-behavior: smooth;
}

                      /* project side scrollbar */
 .image-gallery-container {
  overflow:hidden; 
 padding: 35px 0;
   white-space: nowrap;
   position: relative;
}
.image-gallery {
  margin: 0;
  display:flex;
  height: 480px;
  animation: 20s scroll infinite linear;
}   
 .image-gallery-container::before, 
.image-gallery-container::after{
  position: absolute;
  width: 50px;
  top: 0;
  height: 480px;
  content: "";
  z-index: 2; 
} 

.image-gallery div{
  margin-left: 55px;
  padding: 10px;
  position: relative;
  box-shadow: rgba(161, 155, 155, 0.35) 0px 5px 9px;
  
}
figure {
  width: 330px;
  overflow: hidden;
  position: relative;
}

.image-item img {
margin: 0 ;
  padding: 6px;
background-color: #06060f;
   border-radius: 0.5rem;
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}
.image-item:hover img{
  -webkit-transform: scale(1.1);
        transform: scale(1.1);
}
div .caption {
text-align: center;
font-size: 23px;
font-weight: 700;
width: 320px;
padding: 12px;

}
.skill-btn{
  width: 40%;
  border-radius: 1rem;
  border: none;
  background-color: #a1a4a5;
  align-items: center;
  color: #000000;
  font-size: 1rem;
  padding: .5rem;
justify-content: center; 
&:hover{
  background-color: antiquewhite;
}
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.image-gallery-container:hover .image-gallery{
  animation-play-state: paused;
}  

