@media (max-width:1100px){
    .card-response{
        flex-wrap: wrap;
    }
    .resume-education{
        height: 100%;
        width: 100%;
    
    }
    .icon-anima{
        margin-left: 10px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }
    .header-btn{
        margin-left: 20px;
        text-align: center;
    }
    .wrapper{
        display:inline;
        text-align: center;
    }
}

@media (max-width:800px) {
    nav a {
        display: none;
        
    }
    .ham{
        margin-left: 590px;
        display: block;
        text-align: end;
        justify-content: end;
        align-items: end;
    }
    .icon-anima{
        margin-left: 10px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }
    .header-btn{
        margin-left: 20px;
        align-items: center;
    }
    .wrapper{
        display:inline;
        text-align: center;
    }

    .dynamic-txt{
       margin-left: 190px;
        text-align: center;
        justify-content: center;
   
    }
    .text-respo{
    
        margin: 0 15px 0 15px;
        text-wrap:nowrap;
        align-items: center;
        justify-content: center;
    }
    .resume-education{
        height: 100%;
    }
    .card-response{
        flex-wrap: wrap-reverse;
    }
    .card{
        margin: 7px;
      
    }
 
    .imgbox{
        margin-top: 65px;
        margin-left: 190px;
        
        justify-content: center;
   
    }
    .contact-response{
        align-items: center;
        justify-content: center;
        display: inline;
        margin: 15px;
    }
    .response1{
    margin-top: 15px;
    margin-bottom: 45px;
    }
}

@media (max-width:440px){
    nav a {
        display: none;
        
    }
    .header-btn{
        margin-left: 180px;
        /* text-align: center; */
    }

    .h4{
        text-align: center;
    }
    .ham{
        margin-left: 360px;
        display: block;
        text-align: end;
        justify-content: end;
        align-items: end;
    }
    .world{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        text-wrap: nowrap;
    }
    .icon-anima{
        margin-left: 250px;
        padding-left: 10px;
        margin-top: 45px;
        align-items: center;
        justify-content: center;
    }
    .header-btn{
    /* padding: 30px; */
        margin-top: 50px;
        margin-left: 40px;
        margin-right: -230px;
        align-items: center;
        justify-content: center;
    }
    .wrapper{
        display:inline;
        text-align: center;
    }
        .static-txt{
            margin-right: -230px;
        }
    .dynamic-txt{
       margin-right: -360px;
   
    }
    .text-respo{
        /* text-align: center; */
        margin: 0 25px 0 25px;
        word-spacing: 0.4rem;
        text-wrap:nowrap;
        align-items: center;
        justify-content: center;
    }
    .h3{
        display: none;
    }
    .resume-education{
        margin-left: 50px;
        height: 100%;
        width: 650px;
    }
    .card-response{
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    .card{
        width: 425px;
        height: 470px;
         margin-left: 140px;
         margin-right: -140px;
         padding: 40px;
        margin-bottom: 50px;
    }
 
    .card p{
        font-size: 22px;
    }
 .custom-icon{
    margin-left: 125px;
    width:70px;
    height:70px;
    padding:15px;
    margin-bottom: 5px;  
 }
    .imgbox{
        margin-top: 75px;
        margin-left: 120px;
        width: 500px;
        height: 500px;
        justify-content: center;
    }
    .aboutimg{

        width: 600px;
        height: 400px;
        margin-bottom: 70px;
    }
    .award-response{
        display: inline;
    }
    .text-response{
        margin-right: 70px;
        text-wrap: nowrap;
        margin-left: 60px;
    }
    .text-response1{
        margin-right: 70px;
        text-wrap: nowrap;
        margin-left: 60px;
    }
    .award-btn{
        margin-top: -12px;
       margin-left: -430px;
    }
     .award-btn1{
        margin-left: 40px;
     }
    .contact-response{
        align-items: center;
        justify-content: center;
        display: inline;
        margin: 15px;
    }
    .response1{
    margin-top: 15px;
    width: 600px;
    margin-bottom: 45px;
    
    }
    .response2{
        margin-top: 30px;
        width: 600px;
    }
    .h1pro{
        margin-right: -290px;
    }
    .image-gallery-container{
        margin-right: -320px;
        margin-left: 40px;
    }
    .image-gallery {  
        animation: 7s scroll infinite linear;
      } 
}