@media (max-width:1025px){
    nav {
        font-size: 22px;
        padding: 20px;
      }
    
      nav a {
        margin: 0 30px;
        font-size: 18px;
      }
    /* .world{
        margin-left: 290px;
        margin-bottom: 40px;
    }
    .imgbox{
        margin-top: 32px;
        margin-left: 240px;
    }
    .dynamic-txt{
        margin-right: -180px;
    }
    .text-respo{
        margin-left: 40px;
    }
    .card-response{
        flex-wrap: wrap;
    }
    .resume-education{
        height: 100%;
        width: 100%;
    
    }
    .award-response{
        display: inline;
    }
    .icon-anima{
        margin-left: 10px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }
    .header-btn{
        margin-left: 20px;
        text-align: center;
    }
    .wrapper{
        display:inline;
        text-align: center;
    } */
    
}

@media (min-width: 601px) and (max-width: 1024px) {
    header{
        width: 100%;
    }
    nav {
        flex-direction: row;
        padding: 15px;
        font-size: 20px;
      }
      nav a {
        display: none;
        margin: 15px;
        font-size: 17px;
      }
       p .ham{
        text-align: center;
        justify-content: center;
        margin-right: 0;
      }
      .world{
        margin-bottom: 0;

      }
      .contact-response{
        align-items: center;
        justify-content: center;
        display: inline;
        margin: 15px;
    }
    .wrapper{
        display:inline;
        text-align: center;
    }
    .aboutkiimg{
        display: inline;
    }
    .aboutimg{
        margin-left: -0px;
        width: 640px;
    }
    .award-response{
        display: inline;
    }
    .dynastat{
        display: inline;
    }
    .text-respo{
        br{
            display: none;
        }
        word-spacing: 0.3rem;
        line-height: 2.7rem;
        text-wrap:wrap;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
    }
    .imgbox{
        margin-top: 75px;
        width: 600px;
        height: 600px;
        justify-content: center;
        align-items: center;
    }
    .imgbox1{    
        margin-top: 75px;  
        width: 600px;
        height: 600px;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .about2{
        margin-left: 20px;
    }
    .resume-education{
        height: 100%;
    }
    .card-response{
        flex-wrap: wrap-reverse;
    }
    .card{
        margin: 7px;
    }
    .contact-response{
        align-items: center;
        justify-content: center;
        display: inline;
        margin: 15px;
    }
    .response1{
       margin-left: 15px;
       margin-right: 15px;
    padding-bottom: 40px;
        margin-bottom: 55px;
        }
        .response2{
            margin-left: 15px;
            margin-right: 15px;  
        }
    /*
    
    .icon-anima{
        margin-left: 10px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }
    .header-btn{
        margin-left: 20px;
        align-items: center;
    }

    .dynamic-txt{
       margin-left: 190px;
        text-align: center;
        justify-content: center;
    }
    .text-respo{
    
        margin: 0 15px 0 15px;
        text-wrap:nowrap;
        align-items: center;
        justify-content: center;
    }
    .response1{
    margin-top: 15px;
    margin-bottom: 45px;
    
    } */
}

@media (max-width:600px){
   nav {
      flex-direction: column;
      font-size: 18px;
      padding: 10px;
    }
  
    nav a {
        display: none;
      margin: 10px 0;
      font-size: 16px;
      padding: 5px;
    }
    nav p{
        
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .world{
  margin-left: 30px;
        margin-top: 100px;
        margin-bottom: 30px;
      white-space: nowrap;
    }
    .dynastat{
        display: inline;
    }
    .dynamic-txt li{
        font-size: 45px;
    }
    .text-respo{
        br{
            display: none;
        }
        word-spacing: 0.2rem;
        line-height: 2.5rem;
        text-wrap:wrap;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
    }
    .imgbox{
        margin-left: 0;
        margin-top: 75px;
        width: 410px;
        height: 410px;
        justify-content: center;
        align-items: center;
    }
    .imgbox1{    
        margin-top: 75px;
       margin-left: 0;
        width: 410px;
        height: 410px;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .wrapper{
        margin-left: 10px;
        display:inline;
        text-align: center;
    }
    .aboutimg{
        margin-left: -0px;
        width: 400px;
    }
    
    .resume-education{
       padding: 0;
        height: 100%;
    }
    .aboutkiimg{
        display: inline;
        align-items: center;
        justify-content: center;
     }
 .about2{
    margin-left: 10px;
 }
     .award-response{
        display: inline;
    }
    .card-response{
        
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    .card{
        margin: 10px;
    }
    .contact-response{
        align-items: center;
        justify-content: center;
        display: inline;
        margin: 15px;
    }
    .response1{
        margin-top: 15px;
       margin-left: 15px;
       margin-right: 15px;
    padding-bottom: 50px;
        margin-bottom: 85px;
        
        }
        .response2{
            margin-left: 15px;
            margin-right: 15px;  
        }
     footer p{
        margin-left: 0;
        margin-right: 0;
        
     }
      .image-gallery {  
        animation: 3s scroll infinite linear;
      } 
    /*

    .icon-div {
        text-align: center;
        width: 170px;
    }
    .icon-div i{
        padding: 18px;
        margin: 20px;
        width:91px;
        height:90px;
font-size: 50px;
    }
    .icon-div span{
        font-size: 1.7rem;
    }
    .icon-anima{
        margin-left: 250px;
        padding-left: 10px;
        margin-top: 45px;
        align-items: center;
        justify-content: center;
    }
    .header-btn{
 
        margin-top: 50px;
        margin-left: 80px;
        margin-right: -190px;
    }
    .header-btn button{
        padding: 20px;
        margin: 10px;
        font-size: 34px;
    }

    .about2{
        justify-content: center;
        text-align: center;
    }
 
    .dynastat{
        text-align: center;
        display: inline;
    }
   
    .h3{
        display: none;
    }
    .h4{
        font-size: 30px;
    }
    .secondary-black{
        margin-bottom: 10px;
        margin-right: -40px;
        font-size: 26px;
    }
    .card{
        width: 635px;
        height: 720px;
         margin-left: 70px;
         margin-right: -290px;
         padding: 40px;
        margin-bottom: 90px;
    }
    .card p{
        font-size: 34px;
    }
 .custom-icon{
    margin-left: 200px;
    width:130px;
    height:130px;
    font-size: 53px;
    padding:43px;
    padding-left: 32px;
    margin-bottom: 5px;  
 }
    .h1{
        font-size: 40px;
        margin-left: 160px;
        margin-right: -140px;
    }
    .aboutimg{
        width: 630px; 
        margin-bottom: 70px;
    }
  
    .text-response{
        font-size: 27px;
        margin-right: -310px;
        text-wrap: wrap;
        margin-left: 90px;
    }
    
    .award-btn{
        margin-top: -12px;
       margin-left: -40px;
       margin-bottom: 10px;
    }
     .award-btn1{
        margin-left: 190px;
        margin-top: 10px;
        margin-right: -180px;
        margin-bottom: 7px;
     }
     .award-btn1 button{
        padding: 30px;
        margin: 10px;
        font-size: 34px;
     }

    .h2pro{
        margin-left: 210px;
        margin-right: -40px;
    }
    .contact-1 h1{
        font-size: 40px;
    }
    .contact-1 p{
     font-size: 25px;
     line-height: 2rem;
    }
   .contact-1 form{
    font-size: 59px;
   }
   .name{
    display: inline;
   }

    .skill{
        margin-bottom: 80px;

      }
      
    .skill h1{
        padding-top: 20px;
      
        font-size: 30px;
    }
      
      #number1, #number2, #number3, #number4{
        font-size: 35px;
      }

    .h1pro{
       text-align: center;
       justify-content: center;
       
    }

      footer{
        text-align: center;
        display: flex;
        justify-content: space-around;
      } */
} 
  
